#include <os2.h>
#include "oolres.rh"

#include "oolglib.h"
#include "oolgres.rh"

rcinclude "..\\resource\\oolgres.de"
rcinclude "..\\resource\\oolgres.eng"

/* used bitmaps */
BITMAP IDR_BUBBLE1 "..\\resource\\bubble1.bmp"
BITMAP IDR_BUBBLE2 "..\\resource\\bubble2.bmp"
BITMAP IDR_TRAFFIC "..\\resource\\trafic.bmp"
BITMAP IDR_TRAFFIC_GREEN "..\\resource\\traf_gre.bmp"
BITMAP IDR_TRAFFIC_YELLOW "..\\resource\\traf_yel.bmp"
BITMAP IDR_TRAFFIC_RED "..\\resource\\traf_red.bmp"
BITMAP IDR_TRAFFIC_RY "..\\resource\\traf_yr.bmp"
BITMAP IDR_LED_OFF "..\\resource\\led_off.bmp"
BITMAP IDR_LED_ON "..\\resource\\led_on.bmp"
BITMAP IDR_PEAK_GREEN "..\\resource\\dig_gre.bmp"
BITMAP IDR_PEAK_RED "..\\resource\\dig_red.bmp"
BITMAP IDR_RESTART "..\\resource\\restart.bmp"

DLGTEMPLATE IDD_SELPRINT_ITA LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   DIALOG "Scelta stampante", IDD_SELPRINT_ITA, 55, 81, 200, 151, ,FCF_SYSMENU | FCF_TITLEBAR
   BEGIN
      CONTROL "Stampanti disponibili", 32767, 9, 74, 182, 71, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      LISTBOX IDC_LISTBOX, 16, 80, 170, 58
      CONTROL "Stampa su file", 32767, 9, 26, 183, 41, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      AUTOCHECKBOX "~Su file", IDC_TOFILE, 16, 47, 139, 10
      ENTRYFIELD "", IDC_ENTRY, 17, 36, 169, 8, ES_MARGIN
      DEFPUSHBUTTON "OK", DID_OK, 11, 7, 45, 13, WS_GROUP
      PUSHBUTTON "~Impostazioni...", IDC_JOBPROP, 61, 7, 81, 13, NOT WS_TABSTOP
      PUSHBUTTON "Annulla", DID_CANCEL, 147, 7, 45, 13, NOT WS_TABSTOP
   END

END

/* english version */
DLGTEMPLATE IDD_SELPRINT_ENG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   DIALOG "Printer Selection", IDD_SELPRINT_ENG, 55, 81, 200, 151, ,FCF_SYSMENU | FCF_TITLEBAR
   BEGIN
      CONTROL "Available Printers", 32767, 9, 74, 182, 71, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      LISTBOX IDC_LISTBOX, 16, 80, 170, 58
      CONTROL "Print to file", 32767, 9, 26, 183, 41, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      AUTOCHECKBOX "~To file", IDC_TOFILE, 16, 47, 139, 10
      ENTRYFIELD "", IDC_ENTRY, 17, 36, 169, 8, ES_MARGIN
      DEFPUSHBUTTON "OK", DID_OK, 11, 7, 45, 13, WS_GROUP
      PUSHBUTTON "~Job properties...", IDC_JOBPROP, 61, 7, 81, 13, NOT WS_TABSTOP
      PUSHBUTTON "Cancel", DID_CANCEL, 147, 7, 45, 13, NOT WS_TABSTOP
   END

END

/* german */
DLGTEMPLATE IDD_SELPRINT_GER LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   DIALOG "Drucker auswÑhlen", IDD_SELPRINT_GER, 55, 81, 200, 151, , FCF_SYSMENU | FCF_TITLEBAR
   BEGIN
      CONTROL "VerfÅgbare Drucker", 32767, 9, 74, 182, 71, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      LISTBOX IDC_LISTBOX, 16, 80, 170, 58
      CONTROL "In Datei drucken", 32767, 9, 26, 183, 41, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      AUTOCHECKBOX "~Datei", IDC_TOFILE, 16, 47, 139, 10
      ENTRYFIELD "", IDC_ENTRY, 17, 36, 169, 8, ES_MARGIN
      DEFPUSHBUTTON "OK", DID_OK, 11, 7, 45, 13, WS_GROUP
      PUSHBUTTON "~Jobmerkmale...", IDC_JOBPROP, 61, 7, 81, 13, NOT WS_TABSTOP
      PUSHBUTTON "Abbruch", DID_CANCEL, 147, 7, 45, 13, NOT WS_TABSTOP
   END
END


/* francais */
DLGTEMPLATE IDD_SELPRINT_FRA LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   DIALOG "Choisie Imprimeur", IDD_SELPRINT_FRA, 55, 81, 200, 151, , FCF_SYSMENU | FCF_TITLEBAR
   BEGIN
      CONTROL "Imprimeurs existant", 32767, 9, 74, 182, 71, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      LISTBOX IDC_LISTBOX, 16, 80, 170, 58
      CONTROL "Imprimer dans file", 32767, 9, 26, 183, 41, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
      AUTOCHECKBOX "~File", IDC_TOFILE, 16, 47, 139, 10
      ENTRYFIELD "", IDC_ENTRY, 17, 36, 169, 8, ES_MARGIN
      DEFPUSHBUTTON "OK", DID_OK, 11, 7, 45, 13, WS_GROUP
      PUSHBUTTON "~Ajustement...", IDC_JOBPROP, 61, 7, 81, 13, NOT WS_TABSTOP
      PUSHBUTTON "~Quite", DID_CANCEL, 147, 7, 45, 13, NOT WS_TABSTOP
   END
END
